* {
  margin: 0;
  font-family: "Century Gothic";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  cursor:pointer;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  min-width: 600px;
  margin: 40px;
  padding: 20px;
  display:flex;
  flex-direction: column;
  min-height: 55vh;
}

.foot{
  margin-top:auto;
  width: 100%;
  background: #f1356d;
  text-align:center;
  padding: 8px;
}

.foot p{
  color: #fff;
  padding: 4px;
}

.foot a{
  color: #fff;
  padding: 2px;

}

.contact {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contact label {
  text-align: left;
  display: block;
}
.contact h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.contact input, .contact textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}